.footer {
  .footer__container {
    padding: 0 30px 30px;
    background-color: $decor-bg;
  }

  .container.footer__container--services {
    padding-top: 1px;
  }

  &__copyright {
    @include fontStyle($decor-text, $font-h4, $font-regular, 1.22);
    text-align: center;
    margin-top: 30px;
  }

  &__title {
    margin-bottom: 5px;
    @include fontStyle($main-color, $font-h3caps, $font-bold, 1.22);
    text-transform: uppercase;
    text-align: center;
  }

  &__achievements {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.decor-line {
  width: 100%;
  height: 2px;
  background-color: $decor-separator;
}

// Contacts
.contacts {
  li {
    text-align: center;
  }

  &__address {
    margin-top: 30px;
    @include fontStyle($main-color, $font-h4, $font-regular, 1.25);
  }

  &__map {
    margin-top: 10px;
    @include fontStyle($active-regular, 12px, $font-bold, 1.25);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__facebook {
    margin: 21px auto 0;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    svg {
      width: 38px;
      height: 38px;
      fill: $active-regular;
    }

    svg:hover {
      fill: $accent-color;
    }
  }

  &__phone {
    @include fontStyle($alt-color, $font-h4, $font-bold, 1.22);
  }

  &__email {
    margin-top: 10px;
    @include fontStyle($active-regular, $font-h4, $font-bold, 1.22);
  }

  &__email:hover {
    color: $accent-color;
  }
}

@media screen and (min-width: $tablet-sd) {
  .footer {
    &__container {
      padding: 28px 60px 30px;
    }

    .footer__container--homepage {
      padding: 30px 60px;

      .footerhd {
        position: relative;
        display: flex;
        justify-content: space-between;
      }

      .footer__copyright {
        position: absolute;
        top: 5px;
        right: 0;
      }
    }

    &__title {
      margin-bottom: 5px;
    }

    &__copyright {
      margin-top: 26px;
    }
  }

  .container.footer__container--services {
    padding-top: 0;
  }

  .footer__contacts {
    width: fit-content;
    margin: 0 auto;
    li {
      width: fit-content;
      margin: 0 auto 0 0;

      div {
        position: relative;
        margin: 30px 26px 0 0;
      }
    }

    .contacts__facebook,
    .contacts__phone,
    .contacts__email {
      margin-top: 18px;
    }

    .contacts__map::before,
    .contacts__phone::before,
    .contacts__email::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      left: -16px;
      background-color: $decor-text;
    }

    .contacts__email {
      margin-right: 0;
    }
  }

  .footer__contacts1,
  .footer__contacts2 {
    @include flexpProps(flex-start, center);
  }
}

// Tablet hd
@media screen and (min-width: $tablet-hd) {
  .footerhd {
    display: flex;
    justify-content: space-between;
  }

  .footer__container {
    padding-top: 10px;
  }
}

// Desktop sd
@media screen and (min-width: $desktop-sd) {
  .container.footer__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

// Desktop hd
@media screen and (min-width: $desktop-hd) {
  .container.footer__container {
    padding-left: 160px;
    padding-right: 160px;
  }
}
